{% extends "base.html" %}
{% block content %}
    <form method="post">
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       id="inputEmail"
                       name="email"
                       placeholder="example@example.com"/>
            </div>
            <div class="row mb-3">
                <label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           id="inputPassword1"
                           name="password1"
                           placeholder="Enter password"/>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword2" class="col-sm-2 col-form-label"></label>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           id="inputPassword2"
                           name="password2"
                           placeholder="Confirm password"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock content %}
