{% extends "base.html" %}
{% block title %}
    My Page
{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Hello {{user}}!</h2>
    <div class="container" >
        <img src="https://i.pinimg.com/originals/80/d3/64/80d364e09d31fcba8af274926d4332ff.jpg" class="rounded" alt="dog-1" style="max-height: 400px;">
    </div>
{% endblock content %}  