{% extends "base.html" %}
{% block title %}
    My Page
{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Hello {{user}}!</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur dictum magna non tincidunt. Sed id quam ac metus semper pulvinar sed vitae tortor. Vestibulum rhoncus dui felis, vitae interdum eros tempor vitae. Vivamus malesuada velit non nisi dignissim pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque maximus sapien ipsum, at feugiat lacus placerat id. Phasellus lacus erat, accumsan id feugiat sit amet, molestie at magna. Praesent venenatis, nulla eu imperdiet egestas, erat quam eleifend magna, eu maximus lacus est a arcu. Morbi sed posuere est. Fusce ullamcorper eros metus, ut suscipit lacus finibus non. Cras metus massa, pharetra sit amet ipsum sit amet, blandit pretium felis. Ut vitae quam ligula. Nunc tincidunt ligula magna, tristique tempor leo convallis et. Duis imperdiet augue id ex ullamcorper rutrum. Praesent rhoncus tincidunt magna.</p>
            </div>
            <div class="col">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=800:*" class="rounded" alt="dog-1" style="max-height: 400px;">
            </div>
        </div>
    </div>
{% endblock content %}  