{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   id="usernameInput"
                   placeholder="Enter username"
                   name="username"/>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="passwordInput"
                   placeholder="Enter password"
                   name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock content %}
