{% extends "base.html" %}
{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   id="usernameInput"
                   placeholder="Type username"
                   name="username"/>
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email"
                   class="form-control"
                   id="emailInput"
                   placeholder="name@example.com"
                   name="email"/>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="passwordInput"
                   placeholder="Type password"
                   name="password"/>
        </div>
        <div class="mb-3">
            <label for="passwordInputConfirmation" class="form-label">Password (Confirm)</label>
            <input type="password"
                   class="form-control"
                   id="passwordInputConfirmation"
                   placeholder="Type password"
                   name="password_confirmation"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
