{% extends "base.html" %}
<html class="no-js" lang="">
    {% block title %}
        Google Login with Flask
    {% endblock title %}
    {% block stylesheet %}
        <style>
            body {
                font-family: sans-serif;
            }
            .info {
                margin: 0;
                padding-left: 5px;
                border: solid gold 3px;
                background-color: beige;
                font-family: monospace;
            }
            .info p {
                margin:  0;
            }
            .info p:first-child {
                font-size: 15px;
                padding-bottom: 10px;
            }
        </style>
    {% endblock stylesheet %}
    {% block content %}
        <body>
            <h3>Hello world! This is a Flask application.</h3>
            {% if not current_user.is_authenticated %}
                <p>
                    Click <a href="auth/google">here</a> to login with a Google Account.
                </p>
            {% else %}
                <p>
                    Hi, {{ current_user.username }} [<strong>{{ current_user.email }}</strong>]. You have logged in using a Google Account.
                </p>
                {% if google_data is not none %}
                    <div class="info">
                        <p>
                            User info fetched from <strong>{{ fetch_url }}</strong>
                        </p>
                        {% for key, value in google_data.items() %}
                            <p>
                                <strong>{{ key }}</strong>: {{ value }}
                            </p>
                        {% endfor %}
                    </div>
                {% endif %}
                <p>
                    Click <a href="/auth/logout">here</a> to log out
                </p>
            {% endif %}
        </html>
    {% endblock content %}
