{% extends "base.html" %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <form class="mx-5" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password_confirm.label(class="form-label") }}
            {{ form.password_confirm(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a class="btn btn-outline-dark"
           href="/auth/google"
           target="_blank"
           role="button"
           style="text-transform:none">
            <img width="20px"
                 style="margin-bottom:3px; margin-right:5px"
                 alt="Google sign-in"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            Login with Google
        </a>
    </form>
{% endblock content %}
